@font-face {
  font-family: "Karla";
  src: url("/assets/fonts/static/Karla-Regular.ttf") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Karla";
  src: url("/assets/fonts/static/Karla-Bold.ttf") format("woff");
  font-style: normal;
  font-weight: 700;
}
:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--green-200);
  font-family: "Karla";
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  height: 100%;
  max-width: 350px;
  margin: 2rem 0 0 0;
  background-color: var(--white);
  border-radius: 20px;
  padding: 24px;
  color: var(--grey-900);

  & .title-text {
    font-size: 2rem;
    letter-spacing: -1px;
    margin-bottom: 25px;
  }
}

form {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 0.9rem;
}

span {
  color: var(--green-600);
  margin-left: 2px;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
}

input,
#general-label,
#support-label {
  border-radius: 7px;
  border: 1px solid var(--grey-500);
  height: 50px;
  padding: 5px;
  font-size: 0.9 rem;
}

/* TODO hover and focus states */

/* input:hover,
#general-label:hover,
#support-label:hover {
  /* background-color: var(--green-200); */
/* border: 1px solid var(--green-900); */
/* } */

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-bottom: 5px;

  & legend {
    margin-bottom: 10px;
  }

  & #general-label,
  #support-label {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 12px;
    font-size: 1rem;

    & h5 {
      font-size: 1rem;
      font-weight: 400;
      padding-bottom: 3px;
    }
  }

  & #general,
  #support {
    height: 20px;
    width: 20px;
    border: 1px solid var(--grey-500);
    opacity: 0.5;
    margin: 0;
  }
}

#textarea-label {
}

textarea {
  resize: none;
  font-family: inherit;
  border-radius: 7px;
  border: 1px solid var(--grey-500);
  text-align: start;
  padding: 10px 5px;
}

#consent-label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 30px 0px 30px 2px;
  gap: 20px;

  & h5 {
    font-size: .9rem;
    font-weight: 400;
    padding: 0px 40px 0 0;
  }
}

#consent-input {
  margin: 0;
  transform: scale(1.2);
}

.btn {
  border-radius: 7px;
  border: 1px solid var(--grey-500);
  height: 50px;
  font-size: 1rem;
  background-color: var(--green-600);
  color: var(--white);
  font-weight: 700;
}

footer {
  width: 350px;
  margin: 10px auto;
  text-align: center;
}
